* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

/* NAVBAR */

nav {
    background-color: #f72210;
    height: 90px;
    width: 100vw;
}

/* MAIN SECTION */

.main-container {
    margin-top: 10px;
    width: 100vw;
}

.main-columns {
    display: flex;
    justify-content: center;
}


/* JUST TO SEE THE COLUMNS */
.first-column {
    /*background-color: aquamarine;*/
    height: 50px; 
}

.first-column img {
    background-color: #f0f0f0;
    height: 223px;
    width: 100%;
}

.category-link {
    background-color: white;
    bottom: 50%;
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: bold;
    height: 33px;
    letter-spacing: normal;
    line-height: 16px;
    margin: 0 0 5px 0;
    padding: 8px 15px 8px 5px;
    position: relative;
    text-align: start;
    width: 98px;
}

.second-column {
    /*background-color: salmon;*/
    margin: 0 20px;
    /*height: 50px;*/
}

/* .third-column {
    background-color: aqua;
    height: 50px;
} */

.main-columns h1 {
    color: #030303;
    font-size: 16px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    height: 27px;
    letter-spacing: normal;
    line-height: 16px;
    opacity: 0.4;
    padding-bottom: 11px;
    width: 335px;
}

.title-link {
    color: black;
    font-family: "Roboto Condensed";
    font-size: 18.5px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 24px;
    text-decoration: none;
}

.main-columns p {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 20px;
    margin: 10px 0;
    text-align: start;
}

.line-1 {
    width: 40vw;
    height: 1px;
    background-color: lightgray;
}

.container-stories {   
    display: flex;
    margin-top: 15px;
}

.container-stories img {
    margin-right: 10px;
    margin-top: 12px;
}

.title-link-2 {
    color: black;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 20px;
    text-decoration: none;
}

.opinion {
    display: flex;
    flex-direction: row;
}

.opinion img {
    margin-right: 10px;
}


.opinion p {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 21px;
    text-align: left;
}

.line-2 {
    background-color: lightgray;
    height: 1px;
    margin-bottom: 10px;
    width: 23vw;
}

.news {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 15px;   
}

.news img {
    margin-right: 10px;
}

.category-link-2 {
    background-color: white;
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: bold;
    height: 33px;
    letter-spacing: normal;
    line-height: 16px;
    padding: 8px 15px 8px 5px;
    text-align: start;
    width: 98px;
}

/* MAGAZINE SECTION */

.left-column {
    margin-left: 30px;
    margin-top: 50px;
}

.left-column p {
    background-color: white;
    bottom: 3%;
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    letter-spacing: normal;
    line-height: 33px;
    padding: 0 10px;
    position: relative;
    text-align: start;
    text-decoration: none;
    width: 113px;
}

.feature-link {
    bottom: 5%;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 18px;
    left: 15%;
    position: relative;
    text-decoration: none;
}

.culture-link {
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    left: 10%;
    letter-spacing: normal;
    line-height: 26px;
    position: relative;
    text-align: start;
    top: 2%;
}

.description-link {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 20px;
    position: relative;
    text-align: start;
    text-decoration: none;
    top: 3%;
}

.right-column {
    margin-top: 30px;
}

.mgz-title {
    display: flex;
    justify-content: center;
}

.mgz-title p {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 19px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 19px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: start;
}

.line-3 {
    background-color: lightgray;
    height: 1px;
    margin-bottom: 10px;
    width: 69vw;   
}

.mgz-news {
    display: flex;
    flex-direction: row;
}

.mgz-content {
    display: flex;
    flex-direction: column;
}

.column-1 {
    margin-right: 23.5px;
}

.column-2 {
    margin-right: 23.5px;
}

.subtitle {
    display: flex;
    flex-direction: row;
}

.subtitle p {
    background-color: #f72210;
    color: white;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 26px;
    height: 26px;
    margin-right: 7px;
    margin-top: 7px;
    padding: 0 7px;
    text-align: start;
}

.subtitle a {
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 26px;
    margin-top: 7px;
    text-align: start;
    text-decoration: none;
}

.mgz-link {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    letter-spacing: normal;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    width: 283px;
}

.mgz-news-2 {
    margin-top: 4px;
}

#position-diff {
    margin-left: 20px;
}

.exclusive-position {
    position: relative;
    bottom: 66%;
}

.up-link {
    position: relative;
    bottom: 5%;
}

/* EDITOR'S SECTION */

.line-4 {
    background-color: lightgray;
    height: 1px;
    margin: 0 0px 10px 30px;
    width: 94vw;
}

.editor-news-1 {
    margin-left: 30px;
}

.editor-news-2 {
    margin-left: 20px;
}

.editor-news-4 {
    position: relative;
    right: 6%;
}

.link-red {
    background-color: white;
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: bold;
    height: 33px;
    letter-spacing: normal;
    line-height: 16px;
    margin-top: 7px;
    padding: 8px 15px;
    position: relative;
    text-align: start;
    text-decoration: none;
    top: -23px;
    width: 145px;
}

.link-black {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 24px;
    text-align: start;
    text-decoration: none;
}

.editor-news p {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 20px;
    height: 60px;
    text-align: start;
    width: 283px;
}

.editor-news-row1 {
    margin-bottom: 50px;
}

/* FEATURE'S SECTION */

.line-5 {
    background-color: lightgray;
    height: 1px;
    margin: 0 10px 10px 30px;
    width: 95.5vw;
}

.feat-1 {
    margin-left: 20px;
}

.feat-2 {
    margin-left: 10px;
}

.logo-num {
    position: relative;
    bottom: 52px;
}

.black-title-link {
    bottom: 35px;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 22px;
    position: relative;
    text-align: start;
    text-decoration: none;
}

/* SUBJECT SECTION */

.container-title {
    height: 59px;
    margin-top: 10px;
    margin-left: 20px;
}

.link-subject {
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 22px;
    text-align: start;
    text-decoration: none;
}

.subject-title-link {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 22px;
    position: relative;
    text-align: start;
    text-decoration: none;
    top: 20px;
}

.subject-img-link {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.news-subject-title {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 21px;
    margin-left: 10px;
    text-align: start;
    text-decoration: none;
}

.line-6 {
    background-color: lightgray;
    height: 1px;
    margin-bottom: 10px;
    width: 29vw;
}

.line-7 {
    background-color: lightgray;
    height: 2px;
    margin-bottom: 10px;
    width: 100vw;   
}

/* SUBSCRIBE SECTION */

.subscribe h4 {
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 16px;
    margin-left: 20px;
}

.newsletter h4 {
    color: #f72210;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 16px;
}

.subscribe-magazine {
    background-color: #f4f5f6;
    display: flex;
    flex-direction: row;
    height: 320px;
    margin-left: 20px;
    padding: 30px;
    width: 806px;
}

.cover-2 {
    bottom: 80%;
    left: 35%;
    position: relative;
}

.subs-info {
    margin-left: 80px;
    margin-top: 15px;
}

.subs-info h3, .newsletter-info h3 {
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 28px;
}

.subs-info p, .newsletter-info p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 21px;
    margin: 40px 0;
}

.subs-info a, .newsletter-info a {
    background-color: #f72210;
    color: white;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 18px;
    padding: 10px 10px 10px 12px;
}

.subs-newsletter {
    display: flex;
    flex-direction: row;
}

.newsletter-info {
    border: 1px solid lightgray;
    height: 301px;
    padding: 30px;
    width: 201px;
}